.crono-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.crono-screen {
    font-size: 10rem;
    font-weight: bold;
    padding: 0 200px;
}

.crono-btn-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.crono-btn-cont button {
    padding: 15px;
    font-size: 2rem;
    background-color: var(--orange1);
    border: var(--gray-border);
    border-radius: 10px;
}