.crono-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.crono-screen {
    font-size: 10rem;
    font-weight: bold;
    padding: 0 200px;
}

.crono-btn-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.crono-btn-cont button {
    padding: 15px;
    font-size: 2rem;

    border: none;
    color: white;
    border-radius: 10px;

    background-image: linear-gradient(90deg, orange, red, rgb(242, 210, 0));
    background-size: 400% 100%;
    background-position: left;
    transition-duration: 0.3s;
    transition-timing-function: linear;

}

.crono-btn-cont button:hover {
    background-position: right;

}

.crono-btn-cont button:active {
    background-color: var(--orange1-active);
}