.tasks-frame {
    /* background-color: red; */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    height: 100%;
    padding-top: 70px;
    position: relative;
}

.tasks-border {
    width: 100%;
    max-width: 1000px;
    height: 600px;
    position: relative;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top: 60px;
    border: var(--gray-border);
    overflow-y: scroll;
    overflow-x: visible;

}

.task {
    height: 270px;
    width: 270px;
    position: relative;
    border: var(--gray-border);
    padding: 15px;
    border-radius: 5px;
}

.task-close {
    position: absolute;
    right: 5px;
    top: 5px;

}

.task-close:hover {
    color: gray;
}

.btn-new-note {
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: rgb(22, 209, 56);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 7px;
}

.btn-new-note:hover {
    background-color: rgb(19, 171, 47);
}

.btn-new-note:active {
    background-color: rgb(8, 87, 23);
}

.note-title {
    font-size: 1.3rem;
}