.modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);

    position: absolute;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-border {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 50px;
    position: relative;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

label input,
label textarea {
    padding: 7px;
    width: 300px;
    font-size: 1.2rem;
}

label textarea {
    height: 200px;
}

.container-btn {
    display: flex;
    justify-content: center;
}

.btn-cn {
    padding: 7px;
    border-radius: 5px;
    background-color: var(--myorange);

    font-size: 1.2rem;
    border: none;
    color: white;
}

.btn-cn:hover {
    background-color: var(--orange1-hover);
}

.btn-cn:activate {
    background-color: var(--orange1-active);
}

.modal-close {
    position: absolute;
    right: 5px;
    top: 5px;
}