.unit-frame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 70px;

}

.unit-border {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    gap: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unit-opt-cont {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.unit-calc {
    padding: 10px;

    font-size: 2rem;
    letter-spacing: 2px;
    background-color: var(--myorange);
    border: none;
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.unit-calc::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.244);
    top: 0;
    left: -210%;
    transform: skewX(-30deg);
    transition-duration: 0.2s;
}

.unit-calc:hover::after {

    left: -80%;
}

.unit-opt {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;

}

.unit-selector {
    padding: 10px;
    font-size: 1.3rem;
    color: white;
    background-color: var(--myorangelight);
    border: none;
}

.unit-res {
    font-size: 1.3rem;
    height: 40px;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}